{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Django + Charts.js</title>

    {% include 'mdata/base/css.html' %}
    {% include 'mdata/base/bootstrap_defaults.html' %}
  </head>
  <body>
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
              <!-- <a class="navbar-brand" href="#">Logo</a> -->
              <a href="#" class="navbar-brand">
                  <img src="{% static '/mdata/images/LogoMakr_2bQPHU.png' %}" height="20"/>
              </a>
              <!-- <a src="/mdata/images/LogoMakr_8sk4cH.png" alt="Logo"> -->
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
          </div>
        </nav>  
    <div class='container'>
    {% block content %}
    {% endblock content %}
    </div>
    {% include 'mdata/base/js.html' %}
    <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
    </script>
  </body>
</html>