{% extends 'mdata/layout.html' %}

<script>
{% block jquery %}
var endpoint = '/api/chart/data/'
var defaultData = []
var labels = []
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        var ctx = document.getElementById("batteryChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Battery Status',
                    lineTension: 0,
                    data: defaultData,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Procentage (%)',
                            fontSize: 20,
                            fontColor: '#666'
                        },
                        ticks: {
                            min: 0,
                            max: 100
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Time',
                            fontSize: 20,
                            fontColor: '#666'
                        },
                    }]

                }
            }

        })

        labels = data.labels
        defaultData = data.default
        var ctx = document.getElementById("tempChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Temperature',
                    lineTension: 0,
                    data: defaultData,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Temperature',
                            fontSize: 20,
                            fontColor: '#666'
                        },
                        ticks: {
                            min: -20,
                            max: 50
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Time',
                            fontSize: 20,
                            fontColor: '#666'
                        },
                    }]

                }
            }

        })


    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})



{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12'>
        <h1>Hello World</h1>
        <canvas id="batteryChart" width="200" height="200"></canvas>
        
        <canvas id="tempChart" width="200" height="200"></canvas>

    </div>
</div>

{% endblock content %}